/.DS_Store
/.env
/debug-output.html
/dist
/node_modules
/old
*/node_modules
latest-scrape-output.html
live_streams.json
package.json
data/gamestable.html
data/soccer-leagues.log
data/streamed-live-sample.json
data/streamstable.html
latest-scrape-output.html
*.zip