.git
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/logs
**/*.log
**/debug-output.html
**/old
**/.DS_Store
**/roku-app
**/react-native-app
**/data
**/docs
**/scripts
feed_creation.txt
*.zip
*.webp
*.png
*.jpg
*.jpeg
